__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.egg-info/
build/
dist/
venv/
.venv/
*.spec
app_data.json
poppler-23.05.0/
digitalSignatureDeclaration.egg-info/
signed_declaration.pdf
.idea/
.vscode/
*.log
